body {
    background: #dfdfdf;
} 

p{
  color:#222222;
}

.foto_principal { /* classe iniciasse com ponto */
    width: 200px;
    border: 3px /*SOLID*/ #ffffff;
    border-radius: 65% 65% 15% 65%; /* border-radius: CSE CSD CIE CID "Canto=C Superior=S Inferior=I Esquerdo=E Direito=D" */
    border-style: dotted solid dotted solid;  /*superior, direta, inferior, esquerda. EN: TOP, RIGHT, BOTTOM, LEFT*/


    /* shorthand
    border-width: 5px;
    border-style: dashed;
    border-color: black;
    */

    

}