body {
    background: #dfdfdf;
} 

p{
  color:#222222;
}

.foto_principal { /* classe iniciasse com ponto */
    width: 200px;
    border: 4px #ffffff;
    border-radius: 65% 65% 15% 65%; /* CONTORNO IMAGEM */
    border-style: dotted solid dotted solid; /*EFEITO BORDA - superior, direta, inferior, esquerda. EN: TOP, RIGHT, BOTTOM, LEFT*/

    /* border-radius: CSE CSD CIE CID "Canto=C Superior=S Inferior=I Esquerdo=E Direito=D"*/
    margin: 30px;
    padding: 5px;
}