body {
    background: #ececec;
    font-family: 'Raleway', sans-serif;
    color: rgb(34,34,34);
} 

.container{
  width: 900px;
  margin: 0 auto;
}

.foto_principal {
  width: 200px;
  border: 3.5px #ffffff; /* shorthand */
  border-radius: 65% 65% 15% 65%; /* border-radius: CSE CSD CIE CID "Canto=C Superior=S Inferior=I Esquerdo=E Direito=D" */
  border-style: dotted solid dotted solid; /* superior direta inferior esquerda */
  margin: 30px;
  padding: 3px;  /* espaçamento interno */
  box-shadow: 0px 0px 10px #95959595;
}

 h1{
    margin-bottom: 0px; /* reduzindo o espaçamento e uma linha e outra */
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
 }
 h2{
    margin-top: 0px; /* reduzindo o espaçamento e uma linha e outra */
    font-style: italic; /* estilo da escrita */
    font-size: 18px;
    color: #4c4c4c; /* cor da fonte */
    font-weight: 50; /* estilo negrito */
    letter-spacing: -1px; /* espaçamento entre as letras*/
 }



/* .caixa{
    background-color: black;
    width: 100px;
    height: 100px;
    border: 5px solid red;
    border-radius: 8px;
    margin: 0 auto; 
}*/